services:
  backend:
    build: backend
    ports:
      - 3000:3000
    volumes:
      - ./backend/src:/app/src:ro
      - ./backend/db:/var/run/db:rw
  frontend:
    build: frontend
    ports:
      - 5173:5173
    volumes:
      - ./frontend/src:/app/src:ro
