apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/brendon-hablutzel/contacts:backend-linux-arm64-v8
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: db
              mountPath: /var/run/db
      volumes:
        - name: db
          persistentVolumeClaim:
            claimName: backend-db
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
